$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything gets side spacing for mobile first views */
.header,
.content,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    background: url(../images/logo.png) center no-repeat;
    background-size: contain;
    text-indent: -999em;
    width: 100%;
    margin: 10px 0;
  }
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.content {
  margin: 20px 0;

  h1 {
    text-transform: uppercase;
    color: #4C3078;
  }
  p + h4 {
    margin-top: 28px;
  }
  .btn-group .btn {
    text-transform: capitalize;
    background: #5F3C97;
    color: white;
    border-color: white;

    &.active, &:hover {
      background: #4C3078;
    }
  }
  .dropdown-menu li {
    text-transform: capitalize;
  }
}

.done {
  text-decoration: line-through;
  color: #bbb;
}

.no-margin-top {
  margin-top: 0 !important;
}
.no-pad-right {
  padding-right: 0 !important;
}
.no-pad-left {
  padding-left: 0 !important;
}

.modal img {
  width: 100%;
}

.panel-heading, .panel-body, li {
  transition: all ease-in 0.3s;
}

.panel {
  transition: all ease-in 0.3s;

  .checkbox {
    margin-top: 0;
    padding: 0;
  }

  &.panel-success {
    background: $panel-success-heading-bg;

    li {
      background: $panel-success-heading-bg;
      border-color: darken($panel-success-heading-bg, 10%);

      .done {
        color: darken($panel-success-heading-bg, 30%);
      }
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .content,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
